-#  This file is app/views/movies/similar_movies.html.haml
%h2 Similar Movies for "#{@movie.title}"

%table.table-striped.col-md-10#movies
  %thead
    %tr
      %th Movie Title
      %th Rating
      %th Release Date
      %th More Info
      %th Director
  %tbody
    - @movies.each do |movie|
      %tr
        %td= movie.title 
        %td= movie.rating
        %td= movie.release_date
        %td= link_to "More about #{movie.title}", movie_path(movie)
        %td= movie.director

= link_to 'Back to movie list', movies_path
